.forgot-password-container {
    height: 65vh;
    background-color: #f8f9fa;
  }
  
  .card {
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
  }
  
  .form-group label {
    font-weight: 500;
  }
  